# Register at https://data.bls.gov/registrationEngine/
BLS_API_KEY=

# Register at https://fred.stlouisfed.org/docs/api/api_key.html
FRED_API_KEY=

PORT=3001

# Register at https://platform.openai.com/api-keys
OPENAI_API_KEY=
